{% extends "base.html" %}
{% block title %} start{% endblock %}
{% block content %}
<div class="container-fluid">
    <p> place for list of 5 random users</p>
    <p> {{users}}</p>
    <p>list of photos</p>
    <p> {{photos}} </p>

</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col">
      Photo
    </div>
    <div class="col">
      Nick
    </div>
    <div class="col">
      Age
    </div>
      <div class="col">

    </div>
      <div class="col">

    </div>
  </div>

{% for user in users%}
<div class="row align-items-start">
    <div class="col">
        {% if user.id in photos %}
      <img src= "{{url_for('static', filename=photos[user.id].path)}}"  class="d-block w-100" alt="...">
        {% else %}
       <img src= "{{url_for('static', filename='/base/empty_pic2.jpg')}}"  class="d-block w-100" alt="...">
        {% endif %}
    </div>
     <div class="col">
        {{user.nick}}
    </div>
     {% if user.age is none %}

     <div class="col">
        age notfullfield
    </div>
     {% else %}
     <div class="col">
         {{user.age}}
     </div>
     {% endif %}
    <div class="col">
        <form method="post">
            <input type="hidden" name="invitation" value="{{user.id}}">
        <button type="submit" class="btn btn-primary mb-3" > send invitation  </button>
        </form>
     </div>

    <div class="col">
        <form method="post">
        <input type="hidden" name="data" value="{{user.id}}">
        <button type="submit" class="btn btn-primary mb-3"   > view profile  </button>
    </form>
    </div>
</div>
{% endfor %}

{% endblock %}
